.day-name{
    font-weight:bold;
    font-size: 16px;
}
.day-0{
    color:white;
        background-color: red;
}
.day-1{
    color:white;
    background-color: blue;

}
.day-2{
    color:white;
        background-color:blue;
}
.day-3{
    color:white;
        background-color:blue;
}
.day4{
    color:white;
        background-color:blue;
}
.day-5{
    color:white;
        background-color:blue;
}
.day-6{
    color:white;
        background-color: red;
}

